@model WebApplicationAPP.Models.Reserva

<h2>Detalle Reserva</h2>
<hr />

<h4>Información del Usuario</h4>

<p><b>Nombre:</b> @Model.User.Nombre</p>
<p><b>Tipo:</b> @Model.User.Tipo</p>
<p><b>Correo:</b> @Model.User.Correo</p>

<hr />

<h4>Información del Laboratorio</h4>

<p><b>Laboratorio:</b> @Model.Laboratory.Nombre</p>
<p><b>Capacidad:</b> @Model.Laboratory.Capacidad</p>
<p><b>Responsable:</b> @Model.Laboratory.Responsable</p>

<hr />

<h4>Datos de la Reserva</h4>

<p><b>Fecha y Hora:</b> @Model.FechaHora.ToString("dd/MM/yyyy HH:mm")</p>

<hr />

<a asp-action="Index" class="btn btn-secondary">Volver</a>
