@model IEnumerable<WebApplicationAPP.Models.Reserva>

<h2>Listado de Reservas</h2>

<a class="btn btn-success" asp-action="Create">Crear Reserva</a>

<br />
<br />

<table class="table table-striped">
    <thead>
        <tr>

            <th>Usuario</th>
            <th>Encargado</th>
            <th>Laboratorio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.User.Nombre</td>
                <td>@r.Laboratory.Responsable</td>
                <td>@r.Laboratory.Nombre</td>
                <td>
                    <a class="btn btn-info"
                       asp-action="Detalle"
                       asp-route-id="@r.IdReserva">

                        Detalle
                    </a>                       
                    <a class="btn btn-danger"
                       asp-action="Delete" asp-route-id="@r.IdReserva"
                       role="button">Eliminar</a>
                    <a class="btn btn-warning"
                       asp-action="Edit" asp-route-id="@r.IdReserva"
                       role="button">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
