@model IEnumerable<WebApplicationAPP.Models.Reserva>

<h2>Listado de Reservas</h2>

<a class="btn btn-success" asp-action="Create">Crear Reserva</a>
<a class="btn btn-primary" asp-action="Buscar">Buscar Reserva</a>

<br />
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Asociado</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Identificacion</th>
            <th>Monto</th>
            <th>Fecha Nacimiento</th>
            <th>Fecha Registro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {


           
            <tr>
                <td>@r.Id</td>
                <td>@r.NombreDelAsociado</td>
                <td>@r.Telefono</td>
                <td>@r.Correo</td>
                <td>@r.Identificacion</td>
                <td>₡@r.MontoTotal</td>
                <td>@r.FechaNacimiento.ToShortDateString()</td>
                <td>@r.FechaDeRegistro.ToShortDateString()</td>
                <td>
                    <a class="btn btn-info" asp-action="Detalle" asp-route-id="@r.Id">Detalle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
